.big-cards {
  grid-template: repeat(auto-fit, minmax(100px,1fr)) / repeat(auto-fit, minmax(237px,1fr));
}
.small-cards{
  grid-template: repeat(auto-fit,minmax(150px,1fr)) / repeat(auto-fit,minmax(240px,1fr));
}
.overview-cards{
  grid-template: repeat(2,minmax(70px,1fr)) / repeat(2,minmax(90px,1fr));
}