:root {
  /* Primary Colors */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);

  /* Dark Theme */
  --bg-very-dark-blue: hsl(230, 17%, 14%);
  --top-bg-very-dark-blue: hsl(232, 19%, 15%);
  --card-dark-desaturated: hsl(228, 28%, 20%);
  --card-dark-hover: hsl(228, 25%, 25%);
  --text-desaturated: hsl(228, 34%, 66%);
  --white-text: hsl(0, 0%, 100%);

  /* Light Colors */
  --bg-white: hsl(0, 0%, 100%);
  --top-bg-very-pale-blue: hsl(225, 100%, 98%);
  --card-bg-light-grayish-blue: hsl(227, 47%, 96%);
  --text-dark-grayish-blue: hsl(228, 12%, 44%);
  --text-very-dark-blue: hsl(230, 17%, 14%);

  /* Switch Toggler */
  --dark-toggle: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --light-toggle: hsl(230, 22%, 74%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: var(--bg-very-dark-blue);
}
/* Header */
.header {
  height: 45vh;
  background: var(--top-bg-very-dark-blue);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header-info {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  padding: 4rem 4rem 0;
}

.header-info h1 {
  color: var(--white-text);
  font-size: 3rem;
  font-weight: 700;
}

.header-info h2 {
  margin-bottom: 2rem;
  color: var(--text-desaturated);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0;
}

.header-info_toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid whitesmoke;
}

.header-info_toggler h2 {
  font-size: 2.4rem;
  color: var(--text-desaturated);
  padding-top: 3rem;
}

.main {
  padding: 2.5rem 2rem;
  height: 100%;
  position:relative;
  bottom:10rem;
  z-index: 1;
}

h2 {
  font-size: 2.6rem;
  font-weight: 700;
  padding: 2rem 2rem 0;
  color: var(--white-text);
}

.big-cards {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  padding: 1.5rem;
}

.small-cards {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 1.5rem;
}
.big-overview {
  display: grid;
  grid-template-rows: repeat(1, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  padding: 1.5rem;
  color: var(--bg-white);
}

.big-overview > p:first-child {
  display: flex;
  align-items: center;
  color: var(--text-desaturated);
  font-size: 1.7rem;
}
.big-overview > p:first-child img {
  padding-right: 1rem;
}
.big-overview > p:last-child {
  justify-self: center;
  padding-bottom: 2rem;
}
.big-overview > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.big-overview > div > p:first-child {
  font-size: 5rem;
  font-weight: 700;
}

.big-overview > div > p:last-child {
  color: var(--text-desaturated);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.5rem;
  font-weight: 400;
}

.overview-card {
  display: grid;
  grid-template: repeat(2, minmax(60px, 1fr)) / repeat(2, minmax(60px, 1fr));
  justify-content: space-between;
  border-radius: 10px;
  padding: 1.5rem;
}
.overview-card > p:first-child {
  font-size: 1.6rem;
  font-weight: 400;
}

.overview-card_text {
  color: var(--white-text);
  font-size: 4rem;
  font-weight: 700;
  align-self: center;
}
.overview-card.dark-bg,
.big-overview.dark-bg {
  background: var(--card-dark-desaturated);
  transition: background 0.3s ease-in;
}
.overview-card.dark-bg:hover,
.big-overview.dark-bg:hover {
  background: var(--card-dark-hover);
}
.card-subtitle,
.overview-card > img {
  align-self: center;
}

.overview-card > img {
  justify-self: end;
}

.card-subtitle.desaturated {
  color: var(--text-desaturated);
}

.up,
.down {
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
  justify-self: end;
}

.down {
  color: var(--bright-red);
}

.up {
  color: var(--lime-green);
}

.facebook {
  border-top: 6px solid var(--facebook);
}

.twitter {
  border-top: 6px solid var(--twitter);
}
.instagram {
  position: relative;
}
.instagram::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 6px;
  background: var(--instagram);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.youtube {
  border-top: 6px solid var(--youTube);
}

/* Toggler */
.toggle-control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  right: 40px;
  bottom: 15px;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background: hsl(230, 22%, 74%);
}

.toggle-control input:checked ~ .control:after {
  left: 30px;
}
.toggle-control input ~ .control::after {
  background: var(--card-dark-desaturated);
  transition: all 0.2s ease-in;
}

.toggle-control input:checked ~ .control::after {
  background: var(--bg-white);
}
.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 60px;
  background: var(--dark-toggle);
  border-radius: 25px;
  transition: background left 0.2s ease-in;
}

.toggle-control .control::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2.5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  transition: left 0.2s ease-in;
}
